@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: 25, 29, 31;
  --background-secondary: 0, 0, 0;
}

body {
  background: rgb(var(--background-primary));
  font-weight: bold;
  height: 100vh;
}

h1 {
  font-family: var(--font-museoslab-bold);
  color: #fff;
}

h2 {
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
